@model List<HRMS.Models.Employee_Resignation_List>
@{
    ViewBag.Title = "Resignation";
    Layout = ViewBag.Layout;
    ViewBag.Manger = ViewBag.Mng;
}

<!-- Page Header -->
<div class="row">
    <div class="col-md-12">
        <div class="page-head-box">
            <h3>Resignation/Termination</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Resignation</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- /Page Header -->
<!-- Search Filter -->
@if (ViewBag.Mangers == "No")
{
    <div class="row filter-row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="add-emp-section">
                <a href="#" class="btn btn-success btn-add-emp" data-toggle="modal" data-target="#add_regt"><i class="fas fa-plus"></i> Add</a>
            </div>
        </div>
    </div>
}

<!-- /Search Filter -->

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table datatable">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>From Date</th>
                        <th>Resignation</th>
                        <th>Termination</th>
                        <th>Reason</th>
                        <th>RM</th>
                        <th>HR</th>
                        <th>Promoter</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var i in Model)
                        {
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="#" class="avatar"><img alt="" src="@i.Photo"></a>
                                        <a href="#">@i.First_Name @i.Last_Name <span>@i.Emp_Code</span></a>
                                    </h2>
                                </td>
                                <td>@i.From_Date.ToString("dd MMM yyyy")</td>
                                <td>
                                    @if (i.Is_Resignation == 0)
                                    {
                                        <span>No</span>
                                    }
                                    else
                                    {
                                        <span>Yes</span>
                                    }
                                </td>
                                <td>
                                    @if (i.Is_Termination == 0)
                                    {
                                        <span>No</span>
                                    }
                                    else
                                    {
                                        <span>Yes</span>
                                    }
                                </td>
                                <td>@i.Reason</td>

                                @if (i.RM_Status == 0)
                                {
                                    <td class="text-center">
                                        <span class="role-info role-bg-three">Pending</span>
                                    </td>
                                }
                                else if (i.RM_Status == 1)
                                {
                                    <td class="text-center">
                                        <span class="role-info role-bg-two">Approved</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <span class="role-info role-bg-one">Rejected</span>
                                    </td>
                                }
                                @if (i.HR_Status == 0)
                                {
                                    <td class="text-center">
                                        <span class="role-info role-bg-three">Pending</span>
                                    </td>
                                }
                                else if (i.HR_Status == 1)
                                {
                                    <td class="text-center">
                                        <span class="role-info role-bg-two">Approved</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <span class="role-info role-bg-one">Rejected</span>
                                    </td>
                                }

                                @if (i.Promoter_Status == 0)
                                {
                                    <td class="text-center">
                                        <span class="role-info role-bg-three">Pending</span>
                                    </td>
                                }
                                else if (i.Promoter_Status == 1)
                                {
                                    <td class="text-center">
                                        <span class="role-info role-bg-two">Approved</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <span class="role-info role-bg-one">Rejected</span>
                                    </td>
                                }
                                <td class="text-right ico-sec">
                                    <a href="#" data-toggle="modal" data-target="#edit_leave_@i.Id"><i class="fas fa-edit"></i></a>
                                    <!-- Edit Leave Modal -->
                                    <div id="edit_leave_@i.Id" class="modal custom-modal fade" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Resignation/Termination Edit</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-left">
                                                    @using (Html.BeginForm("updateResignationMgr", "HRMS", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "col-12" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                                        <input type="hidden" value="@i.Id" name="Id">

                                                        <div class="form-group col-md-12">
                                                            <label>Employee Name <span class="text-danger">*</span></label>
                                                            <input class="form-control" name="Name" value="@i.First_Name @i.Last_Name" type="text" readonly>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Reason <span class="text-danger">*</span></label>
                                                            <textarea rows="4" name="Reason" class="form-control" readonly>@i.Reason</textarea>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Resignation Letter</label><br />
                                                            <input class="form-control" name="RL" type="file">
                                                        </div>

                                                        <div class="form-group col-md-6">
                                                            <label>
                                                                Resignation Letter <span class="text-danger">(view)</span>
                                                            </label><br />
                                                            @if (i.Resignation_Letter == null)
                                                            {
                                                                <a class="dropdown-item" href="#">Upload Resignation Letter</a>
                                                            }
                                                            else
                                                            {

                                                                <a class="dropdown-item" href="@i.Resignation_Letter"><i class="fas fa-eye"></i></a>

                                                            }
                                                        </div>

                                                        <div class="form-group col-md-6">
                                                            <label>Final Pay Slip</label><br />
                                                            <input class="form-control" name="FPS" type="file">
                                                        </div>

                                                        <div class="form-group col-md-6">
                                                            <label>
                                                                Final Pay Slip <span class="text-danger">(view)</span>
                                                            </label><br />
                                                            @if (i.Final_PaySlip == null)
                                                            {
                                                                <a class="dropdown-item" href="#">Upload Final Pay Slip</a>
                                                            }
                                                            else
                                                            {

                                                                <a class="dropdown-item" href="@i.Final_PaySlip"><i class="fas fa-eye"></i></a>

                                                            }
                                                        </div>



                                                        <div class="form-group col-md-6">
                                                            <label>Experience Letter</label><br />
                                                            <input class="form-control" name="EL" type="file">
                                                        </div>

                                                        <div class="form-group col-md-6">
                                                            <label>
                                                                Experience Letter <span class="text-danger">(view)</span>
                                                            </label><br />
                                                            @if (i.Experience_Letter == null)
                                                            {
                                                                <a class="dropdown-item" href="#">Upload Experience Letter</a>
                                                            }
                                                            else
                                                            {

                                                                <a class="dropdown-item" href="@i.Experience_Letter"><i class="fas fa-eye"></i></a>

                                                            }
                                                        </div>

                                                        if (ViewBag.Promoter == "Yes")
                                                        {
                                                            <div class="form-group col-md-6">
                                                                <label>
                                                                    Promoter Status <span class="text-danger">(view)</span>
                                                                </label><br />
                                                                <select class="select" name="Promoter_Status" required>
                                                                    <option value="">select</option>
                                                                    <option value="1">Approved</option>
                                                                    <option value="2">Rejected</option>
                                                                </select>
                                                            </div>
                                                        }

                                                        if (ViewBag.HR == "Yes")
                                                        {
                                                            <div class="form-group col-md-6">
                                                                <label>
                                                                    HR Status <span class="text-danger">(view)</span>
                                                                </label><br />
                                                                <select class="select" name="HR_Status" required>
                                                                    <option value="">select</option>
                                                                    <option value="1">Approved</option>
                                                                    <option value="2">Rejected</option>
                                                                </select>
                                                            </div>
                                                        }

                                                        if (ViewBag.Mangers == "Yes")
                                                        {
                                                            <div class="form-group col-md-6">
                                                                <label>
                                                                    RM Status <span class="text-danger">(view)</span>
                                                                </label><br />
                                                                <select class="select" name="RM_Status" required>
                                                                    <option value="">select</option>
                                                                    <option value="1">Approved</option>
                                                                    <option value="2">Rejected</option>
                                                                </select>
                                                            </div>
                                                        }

                                                        <div class="submit-section col-md-12">
                                                            <button class="btn btn-primary cancel-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                                                            <button class="btn btn-primary submit-btn">Save</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Edit Leave Modal -->
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Add Modal -->
<div class="modal custom-modal fade" id="add_regt" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Resignation / Termination</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("addResignationMgr", "HRMS", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "col-12" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Employee <span class="text-danger">*</span></label>
                                <select class="select" name="Emp_Id" id="Emp_Id">
                                    <option value="">Select Employee</option>
                                    @foreach (var d in ViewBag.Employee)
                                    {

                                        <option value="@d.Value">@d.Text</option>

                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Resgination  <span class="text-danger">*</span></label>
                                <select class="select" name="Is_Resignation" id="Is_Resignation" required>
                                    <option value="">Select Type</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Termination  <span class="text-danger">*</span></label>
                                <select class="select" name="Is_Termination" id="Is_Termination" required>
                                    <option value="">Select Type</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>From Date  <span class="text-danger">*</span></label>
                                <input class="form-control" name="From_Date" type="date" id="From_Date" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Notice Period  <span class="text-danger">*</span></label>
                                <input class="form-control" name="Notice_Period" type="number" id="Notice_Period" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Working Date (if approved) <span class="text-danger">*</span></label>
                                <input class="form-control" name="Last_Working_Date" type="date" id="Last_Working" readonly>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-form-label">Reason <span class="text-danger">*</span></label>
                                <textarea class="form-control ta" name="Reason" required></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary cancel-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- /Add Modal -->

<div class="modal custom-modal fade" id="msgBox">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3 style="font-size: 20px;">@TempData["message"] </h3>
                </div>
                <div class="modal-btn">
                    <div class="submit-section col-sm-4 offset-sm-4">
                        <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-primary cancel-btn">OK</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts
{
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                $('#msgBox').modal('show');
            };
        </script>
    }


    <script type="text/javascript">
        $("#Emp_Id").change(function () {

            $.get(baseurl + "/HRMS/GetNoticePeriod", { Id: $(this).val() }, function (data) {

                if (data.res == "Success") {

                    $("#Notice_Period").val(data.np['Notice_Period']);

                }
                else {

                    $("#Notice_Period").val('');

                }
            });

        });


        $("#From_Date").change(function () {

            var days = document.getElementById("Notice_Period").value;
            var date = new Date(document.getElementById("From_Date").value);
            date.setDate(date.getDate() + parseInt(days));
            document.getElementById("Last_Working").valueAsDate = date;

        });

        $("#Notice_Period").blur(function () {

            var days = document.getElementById("Notice_Period").value;
            var date = new Date(document.getElementById("From_Date").value);
            date.setDate(date.getDate() + parseInt(days));
            document.getElementById("Last_Working").valueAsDate = date;

        });

    </script>

}

