@model List<HRMS.Models.Kra_Score_Self_View>
@{
    ViewBag.Title = "KRA";
    Layout = ViewBag.Layout;
}


<!-- Page Header -->
<div class="row">
    <div class="col-md-12">
        <div class="page-head-box">
            <h3>Kra</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Kra</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <section class="review-section professional-excellence">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">

                                <table class="table table-bordered review-table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Focused area (Organization Goals)</th>
                                            <th>Weightage</th>
                                            <th>Self Rating : Below 50% / 75% / 100%</th>
                                            <th>Key Improvement Area</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Count > 0)
                                        {
                                            foreach (var i in Model)
                                            {
                                                <tr>

                                                    <td>
                                                        @i.Ksl_Master_string
                                                    </td>
                                                    <td><input type="text" class="form-control" readonly value="@i.Weightage"></td>
                                                    <td><input type="number" min="0" max="@i.Weightage" class="form-control total_self"  value="@i.Ksl_Self_Score" readonly></td>
                                                    <td><input type="text" class="form-control" value="@i.Ksl_Key_Improvement_Area" readonly></td>
                                                </tr>
                                            }
                                        }
                                        <tr>
                                            <td class="text-center">Total </td>
                                            <td><input type="text" class="form-control" readonly value="@ViewBag.wht"></td>
                                            <td colspan="2"><input type="text" class="form-control" id="Total_self" name="Total_self" readonly value="@ViewBag.total"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                <div class="grade-span">
                                                    <h4>Grade</h4>
                                                    <span class="badge bg-inverse-danger">Below 50 % Not satisfactory</span>
                                                    <span class="badge bg-inverse-warning"> >50 to 80% Average performance</span>
                                                    <span class="badge bg-inverse-info"> >80 to 100% Met Expectation</span>
                                                    <span class="badge bg-inverse-success"> >100%  Exceeded Expectation</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                <div class="grade-span">
                                                    <a href="@Url.Action("KRA","HRMS")" class="btn btn-secondary submit-btn"> Back </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal custom-modal fade" id="msgBox">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3 style="font-size: 20px;">@TempData["message"] </h3>
                </div>
                <div class="modal-btn">
                    <div class="submit-section col-sm-4 offset-sm-4">
                        <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-primary cancel-btn">OK</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts
{
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                $('#msgBox').modal('show');
            };
        </script>
    }

}