@model List<HRMS.Models.Department>
@{
    ViewBag.Title = "Department";
    Layout = ViewBag.Layout;
}

<!-- Page Header -->
<div class="row">
    <div class="col-md-12">
        <div class="page-head-box">
            <h3>Department</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Department</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- /Page Header -->
<!-- Search Filter -->
<div class="row filter-row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <div class="add-emp-section">
            <a href="#" class="btn btn-success btn-add-emp" data-toggle="modal" data-target="#add_department" style="width: auto;"><i class="fas fa-plus"></i> Add Department</a>
        </div>
    </div>
</div>
<!-- /Search Filter -->

<div class="row">
    <div class="col-md-12">
        <div>
            <table class="table table-striped custom-table mb-0 datatable">
                <thead>
                    <tr>
                        <th>Department Name</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.Name</td>
                                <td class="text-right ico-sec d-flex justify-content-end">
                                    <a href="#" data-toggle="modal" data-target="#edit_department_@i.Id"><i class="fas fa-pen"></i></a>

                                    <!-- Edit Department Modal -->
                                    <div id="edit_department_@i.Id" class="modal custom-modal fade" role="dialog" style="padding-right: 16px;">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit Department</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    @using (Html.BeginForm("editDepartment", "HRMS", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "col-12" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                                        <input type="hidden" value="@i.Id" name="Id">
                                                        <input type="hidden" value="@i.CreatedBy" name="CreatedBy">
                                                        <input type="hidden" value="@i.CreatedOn" name="CreatedOn">

                                                        <div class="form-group text-left">
                                                            <label>Department Name <span class="text-danger">*</span></label>
                                                            <input class="form-control" value="@i.Name" name="Name" type="text" required>
                                                        </div>
                                                        <div class="submit-section">
                                                            <button class="btn btn-primary cancel-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                                                            <button class="btn btn-primary submit-btn">Save</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Edit Department Modal -->

                                    <a href="#" data-toggle="modal" data-target="#delete_department_@i.Id"><i class="far fa-trash-alt"></i></a>

                                    <!-- Delete Department Modal -->
                                    <div class="modal custom-modal fade" id="delete_department_@i.Id" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="form-header">
                                                        <h3>Delete Department</h3>
                                                        <p>Are you sure want to delete?</p>
                                                    </div>
                                                    <div class="modal-btn delete-action">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <a href="@Url.Action("deleteDepartment","HRMS", new {Id = i.Id })" class="btn btn-primary continue-btn">Delete</a>
                                                            </div>
                                                            <div class="col-6">
                                                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Delete Department Modal -->
                                </td>
                            </tr>

                        }
                    }
                    else
                    {
                        <tr><td colspan="2" class="text-center"> <code style="font-size:20px;"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <br /> No Record Found </code></td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Add Department Modal -->
<div id="add_department" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("addDepartment", "HRMS", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "col-12" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <label>Department Name <span class="text-danger">*</span></label>
                        <input class="form-control" name="Name" type="text" required>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary cancel-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- /Add Department Modal -->


<div class="modal custom-modal fade" id="msgBox">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3 style="font-size: 20px;">@TempData["message"] </h3>
                </div>
                <div class="modal-btn">
                    <div class="submit-section col-sm-4 offset-sm-4">
                        <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-primary cancel-btn">OK</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts
{
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                $('#msgBox').modal('show');
            };
        </script>
    }

}