@model List<HRMS.Models.Leave_log_Mng>
@{
    ViewBag.Title = "LeaveEmp";
    Layout = ViewBag.Layout;
    ViewBag.Manger = ViewBag.Mng;
}

<!-- Page Header -->
<div class="row">
    <div class="col-md-12">
        <div class="page-head-box">
            <h3>Leaves</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Leaves</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- /Page Header -->
<!-- Search Filter -->
@using (Html.BeginForm("LeaveEmp", "HRMS", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "col-12" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row filter-row">

        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus mb-0">
                <select class="select floating" name="status">
                    <option value=""> -- Select -- </option>
                    <option value="0"> Pending </option>
                    <option value="1"> Approved </option>
                    <option value="2"> Rejected </option>
                </select>
                <label class="focus-label">Leave Status</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <button class="btn btn-success btn-search"><i class="fas fa-search mr-2"></i> Search </button>
        </div>
    </div>
    <!-- /Search Filter -->
}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table mb-0 datatable">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>From</th>
                        <th>To</th>
                        <th>No of Days</th>
                        <th>Reason</th>
                        <th class="text-center">Status</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var i in Model)
                        {
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="#" class="avatar"><img alt="" src="@i.photo"></a>
                                        <a href="#">@i.Emp_Name <span>@i.emp_code</span></a>
                                    </h2>
                                </td>
                                <td>@i.Leave_From.ToString("dd MMM yyyy")</td>
                                <td>@i.Leave_To.ToString("dd MMM yyyy")</td>
                                <td>
                                    @{
                                        TimeSpan t = i.Leave_To - i.Leave_From;
                                        string Half = "Half Day";

                                    }
                                    @if (t.TotalDays == 0)
                                    {
                                        @Half
                                    }
                                    else
                                    {

                                        @t.TotalDays
                                    }
                                </td>
                                <td>@i.Leave_Reason</td>
                                @if (i.Status == 0)
                                {
                                    <td class="text-center">
                                        <span class="role-info role-bg-three">Pending</span>
                                    </td>
                                }
                                else if (i.Status == 1)
                                {
                                    <td class="text-center">
                                        <span class="role-info role-bg-two">Approved</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <span class="role-info role-bg-one">Rejected</span>
                                    </td>
                                }
                                <td class="text-right ico-sec">
                                    <a href="#" data-toggle="modal" data-target="#edit_leave_@i.Id"><i class="fas fa-edit"></i></a>
                                    <!-- Edit Leave Modal -->
                                    <div id="edit_leave_@i.Id" class="modal custom-modal fade" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit Leave</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-left">
                                                    @using (Html.BeginForm("updateLeave", "HRMS", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "col-12" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                                        <input type="hidden" value="@i.Id" name="Id">
                                                        <input type="hidden" value="@i.CreatedOn" name="CreatedOn">
                                                        <input type="hidden" value="@i.CreatedBy" name="CreatedBy">
                                                        <input type="hidden" value="@i.Approved_By" name="Approved_By">
                                                        <input type="hidden" value="@i.Approved_On" name="Approved_On">
                                                        <input type="hidden" value="@i.Emp_Id" name="Emp_Id">

                                                        <div class="form-group col-md-6">
                                                            <label>From <span class="text-danger">*</span></label>
                                                            <input class="form-control" name="Leave_From" value="@i.Leave_From.ToString("yyyy-MM-dd")" type="date" readonly>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>To</label>
                                                            <input class="form-control" name="Leave_To" value="@i.Leave_To.ToString("yyyy-MM-dd")" type="date" readonly>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Leave Reason <span class="text-danger">*</span></label>
                                                            <textarea rows="4" name="Leave_Reason" class="form-control" readonly>@i.Leave_Reason</textarea>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Status <span class="text-danger">*</span></label><br />
                                                            <select class="select" name="Status" required>
                                                                <option value="">Select Status</option>

                                                                <option value="0">Pending</option>
                                                                <option value="1">Approved</option>
                                                                <option value="2">Rejected</option>

                                                            </select>
                                                        </div>
                                                        <div class="submit-section col-md-12">
                                                            <button class="btn btn-primary cancel-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                                                            <button class="btn btn-primary submit-btn">Save</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Edit Leave Modal -->
                                </td>
                            </tr>
                        }
                    }
                    @*<tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="profile.html" class="avatar"><img alt="" src="~/assets/img/profiles/avatar-09.jpg"></a>
                                    <a href="#">Richard Miles <span>IWT22</span></a>
                                </h2>
                            </td>
                            <td>22 Nov 2021</td>
                            <td>22 Nov 2021</td>
                            <td>1 days</td>
                            <td>Going to Hospital</td>
                            <td class="text-center">
                                <span class="role-info role-bg-three">Pending</span>
                            </td>
                            <td class="text-right ico-sec">
                                <a href="#" data-toggle="modal" data-target="#edit_leave"><i class="fas fa-pen"></i></a>
                                <a href="#" data-toggle="modal" data-target="#delete_approve"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="profile.html" class="avatar"><img alt="" src="~/assets/img/profiles/avatar-09.jpg"></a>
                                    <a href="#">Bernardo Galaviz <span>IWT35</span></a>
                                </h2>
                            </td>
                            <td>18 Nov 2021</td>
                            <td>22 Nov 2021</td>
                            <td>3 days</td>
                            <td>Going to Hospital</td>
                            <td class="text-center">
                                <span class="role-info role-bg-two">Approved</span>
                            </td>
                            <td class="text-right ico-sec">
                                <a href="#" data-toggle="modal" data-target="#edit_leave"><i class="fas fa-eye"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="profile.html" class="avatar"><img alt="" src="~/assets/img/profiles/avatar-09.jpg"></a>
                                    <a href="#">Bernardo Galaviz <span>IWT35</span></a>
                                </h2>
                            </td>
                            <td>01 Nov 2021</td>
                            <td>10 Nov 2021</td>
                            <td>6 days</td>
                            <td>Going to Village</td>
                            <td class="text-center">
                                <span class="role-info role-bg-one">Rejected</span>
                            </td>
                            <td class="text-right ico-sec">
                                <a href="#" data-toggle="modal" data-target="#edit_leave"><i class="fas fa-eye"></i></a>
                            </td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add Leave Modal -->
<div id="add_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="row">
                    <div class="form-group col-md-12">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Select Leave Type</option>
                            <option>Casual Leave 12 Days</option>
                            <option>Medical Leave</option>
                            <option>Loss of Pay</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>From <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>To <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Number of days <span class="text-danger">*</span></label>
                        <input class="form-control" readonly type="text">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Remaining Leaves <span class="text-danger">*</span></label>
                        <input class="form-control" readonly value="12" type="text">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Leave Reason <span class="text-danger">*</span></label>
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                    <div class="submit-section col-md-12">
                        <button class="btn btn-primary cancel-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Leave Modal -->
<!-- Edit Leave Modal -->
<div id="edit_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="row">
                    <div class="form-group col-md-12">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Select Leave Type</option>
                            <option>Casual Leave 12 Days</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>From <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" value="01-01-2019" type="text">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>To <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" value="01-01-2019" type="text">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Number of days <span class="text-danger">*</span></label>
                        <input class="form-control" readonly type="text" value="2">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Remaining Leaves <span class="text-danger">*</span></label>
                        <input class="form-control" readonly value="12" type="text">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Leave Reason <span class="text-danger">*</span></label>
                        <textarea rows="4" class="form-control">Going to hospital</textarea>
                    </div>
                    <div class="submit-section col-md-12">
                        <button class="btn btn-primary cancel-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Leave Modal -->
<!-- Delete Leave Modal -->
<div class="modal custom-modal fade" id="delete_approve" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Leave</h3>
                    <p>Are you sure want to delete this leave?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Leave Modal -->
